<!--
5. Completed by Jeremy Bernstein on 4/21/2022
-->
<h1> Schedule</h1>
<div class="d-flex flex-wrap">
<% for (course of courses) {   
    %>

    <div class="flex-container p-2 m-2 border border-info border-5">
        Course: <%= course['subject'] %> <%= course['coursenum'] %>-<%=course['section'] %> <%= course['name'] %> 
        <br>
        Term: <%= course['term'] %>
        <br>
        Instructor: <%= course['instructor'] %>
        <br>
        Enrolled: <%=course.enrolled %>
        <br>
        Limit: <%=course.limit || 999 %>
        <br>
        Waiting: <%= course.waiting %>
        <br> 
        Time: <%= course.strTimes %>
        <br>
        <a href="/schedule/remove/<%= course._id %>">Remove from Schedule</a>
        
        
    </div>
    <% } %>
</div>

<!--
    <pre>
        <%= JSON.stringify(courses,null,5) %>
    </pre>
-->