<ul>
    <% for (course of courses){%>
        <li>
            <div class="flex-container">
                <a href="/schedule/remove/<%= course._id %>">X</a>
            <%= course['subject'] %>
            <%= course.coursenum %>
            <%= course.name %>
            <%= course.term %>
            </div> 
        </li>
    <% } %>
</ul>

<!--
    <pre>
        <%= JSON.stringify(courses,null,5) %>
    </pre>
-->